
/rust/target
/rust/.env*
/rust/Secrets*.toml
/rust/Host*.toml
/rust/Local*.toml

/python/.env*

/webapp1/project_env

/webapp2/target

/terraform_aws/.terraform.*
/terraform_aws/.terraform
/terraform_aws/terraform.*